---
BasedOnStyle: LLVM
Language:        Cpp
AccessModifierOffset: -4
AlignConsecutiveAssignments:
  Enabled:         true
  AlignCompound:   false
AlignConsecutiveDeclarations:
  Enabled:         true
AlignConsecutiveShortCaseStatements:
  Enabled:         true
AlignOperands:   AlignAfterOperator
AllowAllArgumentsOnNextLine: true
AllowAllParametersOfDeclarationOnNextLine: true
AllowShortBlocksOnASingleLine: Never
AllowShortCaseLabelsOnASingleLine: true
AllowShortEnumsOnASingleLine: true
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AllowShortLambdasOnASingleLine: All
AllowShortLoopsOnASingleLine: false
BreakTemplateDeclarations: Leave
BinPackArguments: false
BinPackParameters: false
BreakBeforeBinaryOperators: NonAssignment
ColumnLimit:     100
DerivePointerAlignment: false
IncludeBlocks:   Preserve
IndentWidth:     4
InsertNewlineAtEOF: true
LineEnding:      LF
PackConstructorInitializers: CurrentLine
PointerAlignment: Left
ReferenceAlignment: Pointer
SortIncludes:    CaseSensitive
UseTab:          Never
RequiresClausePosition: WithPreceding
