---
BasedOnStyle: LLVM
Language:        Cpp
AccessModifierOffset: -4
AlignConsecutiveAssignments:
  Enabled:         true
  AlignCompound:   true
AlignConsecutiveDeclarations:
  Enabled:         true
AlignConsecutiveShortCaseStatements:
  Enabled:         true
AllowShortFunctionsOnASingleLine: Inline
AllowShortLambdasOnASingleLine: All
AllowShortCaseLabelsOnASingleLine: true
BinPackArguments: false
BinPackParameters: false
BreakTemplateDeclarations: Yes
ColumnLimit:     100
IndentWidth:     4
PackConstructorInitializers: CurrentLine
PointerAlignment: Left
